<div class="headline text-center m-auto mt-1 mb-2">
  <h1>article title 1</h1>
</div>

<div class="container d-flex justify-content-between">
  <div class="box d-flex flex-column justify-content-center text-center">
    <img lazyLoad src="../../assets/beautiful-butterfly-nature-close-up_1271287-690.avif" class="card-img-top w-100 d-block" alt="post image">
    <h6>By / Ali Ahmed</h6>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero iste corporis distinctio porro nam. Impedit.
    </p>
  </div>

  <div class="content d-flex flex-column justify-content-between">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque error repellat vero placeat eaque tempore natus dolor in magni harum voluptatibus, obcaecati veniam qui accusantium suscipit veritatis earum corporis? Obcaecati. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti maxime, veritatis tempore velit labore dolorem esse architecto ducimus ullam, vel animi rem obcaecati nemo autem? Nulla dolor temporibus ipsam eos.</p>

    <div class="author d-flex flex-column justify-content-between align-items-center">
      <img lazyLoad src="../../assets/client-1.jpg" class="card-img-top w-100 d-block" alt="author">
      <small class="text-center mt-2">Ali Ahmed</small>
      <a routerLink="/author/:id" class="mt-1">See All Posts for this author</a>
    </div>

  </div>

</div>