<div class="container mt-4 ">
  <h3 class="mb-4 text-center">All Posts</h3>
  <div class="row recent w-100">

    <div class=" col-lg-3 col-md-3 col-sm-12 productsContainer article-item">
      <div class="card article-item">
        <img lazyLoad src="/assets/client-1.jpg" class="card-img-top w-100 d-block" alt="post image">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <a routerLink="/article" class="btn btn-primary mb-2 w-50 m-auto">Go somewhere</a>

      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-12 productsContainer article-item">
      <div class="card article-item">
        <img lazyLoad src="/assets/client-2.jpg" class="card-img-top w-100 d-block" alt="post image">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <a routerLink="/article" class="btn btn-primary mb-2 w-50 m-auto">Go somewhere</a>

      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-12 productsContainer article-item">
      <div class="card article-item">
        <img lazyLoad src="/assets/client-1.jpg" class="card-img-top w-100 d-block" alt="post image">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. bulk of the card's content</p>
        </div>
        <a routerLink="/article" class="btn btn-primary mb-2 w-50 m-auto">Go somewhere</a>

      </div>
    </div>

  </div>
</div>