<div class="headline text-center m-auto mt-3">
  <h1>We are the <span> Blog Corner</span> ,<br />
    where you can find all the latest news and updates!<br />
    With team of content writers and designers.</h1>
</div>

<div class="container mt-4 ">
  <h3 class="midtitle mb-4 text-center">Our writers</h3>
  <div class="row recent w-100">

    <div class=" col-lg-3 col-md-3 col-sm-12 productsContainer article-item">
      <div class="card article-item text-center">
        <img lazyLoad src="/assets/client-1.jpg" class="card-img-top w-100 d-block" alt="post image">
        <div class="card-body">
          <h5 class="card-title">Ali Ahmed</h5>
          <p class="card-text"><span>5 </span> published posts</p>
        </div>

      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-12 productsContainer article-item">
      <div class="card article-item text-center">
        <img lazyLoad src="/assets/client-2.jpg" class="card-img-top w-100 d-block" alt="post image">
        <div class="card-body">
          <h5 class="card-title">Mohamed Sameh</h5>
          <p class="card-text"><span>5 </span> published posts</p>
        </div>

      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-12 productsContainer article-item">
      <div class="card article-item text-center">
        <img lazyLoad src="/assets/client-1.jpg" class="card-img-top w-100 d-block" alt="post image">
        <div class="card-body">
          <h5 class="card-title">Omar Nagy</h5>
          <p class="card-text"><span>5 </span> published posts</p>
        </div>

      </div>
    </div>

  </div>
</div>